@model List<TbLibro>
@{
    Layout = null;
    int i = 0;
}

<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIBLIOWEB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="~/css/project.css">
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>        
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">BIBLIOWEB</label>
        <ul>
            <li><a asp-action="Menu" class=" text-decoration-none navA"><ion-icon name="grid"></ion-icon>Inicio</a></li>
                    <li><a asp-action="Carrito" class="active text-decoration-none navA"><ion-icon name="cart"></ion-icon>Carrito</a></li>
                    <li><a asp-action="Vender" class="text-decoration-none navA"><ion-icon name="pricetags"></ion-icon>Vender</a></li>
                    <li><a asp-action="UserConfig" class="text-decoration-none navA"><ion-icon name="person"></ion-icon>@ViewBag.Usuario</a></li>
                    <li><a asp-action="Logout" class="text-decoration-none navA"><ion-icon name="exit"></ion-icon>Salir Sesion</a></li>
        </ul>
    </nav>
    <br>
    <h2><ion-icon name="cart"></ion-icon>   Carrito</h2>
    <hr><br>
    <div class="page-container">
        @foreach (var item in Model)
        {                        
            <a  class="product-container text-decoration-none">
                <img src="@item.Ruta">
                <h3>@item.Titulo</h3>
                <h2>@item.Autor</h2>
                <h4>@item.Genero</h4>
                <h2>@item.Precio</h2>   
                <input class="btn btn-danger" onclick="Elimanar(@ViewBag.ListaID[i])" type="button" value="Eliminar" id="Eliminar"/>
            </a>
            i++;
        }    
    </div>
    <hr><br>
    <div class="carrito">
        <div class="buttonCarrito">
            <h2><ion-icon name="card"></ion-icon>Total a Pagar: @ViewBag.Precio</h2>
            <form asp-action="Compra" asp-controller="Home" method="post">
                <button onclick="Comprar()" type="submit" class="preButton"><ion-icon name="logo-paypal"></ion-icon> PAGAR</button>
            </form>
        </div>
    </div>          
    <form asp-action="Eliminar"  asp-controller="Home" id="frmEliminar">
        <input type="hidden" id="idEliminarPedido" name="idEliminarPedido" />
    </form>
    <script>
        function Elimanar(id){            
            document.getElementById("idEliminarPedido").value = id;            
            frmEliminar.submit();
        }
        function Comprar() {
            var art = document.getElementById("Eliminar").value;

            if (art == 0) {
                swal("Sin articulos", "Añade articulos a tu carrito", "error");
            } else {
                swal("EXITO", "Compra en Proceso", "success");
            }
        }
    </script>
</body>
</html>